html body{
    background-color: #f8f8f8;
}

.counter-display {
    text-align: center;
    background-color: black;
    margin: 100px;
    margin-bottom: 35px
}

.counter-display div{
    display: inline-block;
    font-size: 60px;
    line-height: 60px;
    background: #101010;
    color: white;
    padding: 10px;
    margin: 3px;
}